@font-face {
  font-family: "San Francisco Regular";
  src: url('../fonts/SanFrancisco-Regular.eot');
  src: url('../fonts/SanFrancisco-Regular.eot?#iefix') format('embedded-opentype'),
       url('../fonts/SanFrancisco-Regular.woff') format('woff'),
       url('../fonts/SanFrancisco-Regular.ttf') format('truetype'),
       url('../fonts/SanFrancisco-Regular.svg#SanFrancisco-Regular') format('svg');
  font-weight: 400;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "San Francisco Regular";
}

main {
	width: 500px;
	margin: 30px auto;
	border: 1px solid #c3c3c3;
	padding: 20px;
}

.categories div {
	font-size: 30px;
	line-height: 50px;
	cursor: pointer;
}

.news, 
.full_news {
	display: none;
}

.news_item {
  margin-bottom: 30px;
  cursor: pointer;
}

.pagination {
	text-align: center;
}

.space {
	margin: 5px;
}
